.outerContainer {
  padding-top: 65px;
  padding-bottom: 10px;
}
.addBtn,
.logout {
  padding: 10px;
  width: 150px;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.buttonWrapper {
  margin-top: 39px;
  margin-left: 33px;
}

.addBtn {
  margin-right: 20px;
}

.viewIcon {
  color: #ee4e34;
}

.item {
  width: 48.5%;
  background-color: #ee4e34;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 15px;
}

.container {
  padding: 21px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.itemWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itemWrapper h1 {
  color: #fcedda;
  user-select: none;
  margin-bottom: 0;
}

.input {
  width: 60%;
}

.input input {
  width: 100%;
  height: 35px;
  margin: 20px 0;
}

.itemWrapper span {
  position: relative;
}
.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.4;
}

.thead {
  background-color: #fcedda;
  color: #ee4e34;
}
.table {
  padding: 10px;
  width: 100%;
  border-spacing: 12.5px;
  text-align: left;
  color: #fcedda;
  border: 1px solid #fcedda;
}
.table:last-child {
  margin-bottom: 10px;
}

.tbody:hover {
  background-color: #fcedda;
}

.tbody:hover .button,
.tbody:hover .viewIcon {
  background-color: #ee4e34;
  color: #fcedda;
}

.trTitle th {
  user-select: none;
}
.trTitle th span {
  cursor: pointer;
  border-bottom: 1px solid #ee4e34;
}

.trTitle th span:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  font-weight: 800;
}

.td {
  font-size: 16px;
  position: relative;
  box-shadow: none !important;
}

.tdImg {
  align-items: center;
  display: flex;
}
.id,
.id2 {
  display: none;
  position: absolute;
  padding: 2px 9px;
  border-radius: 15px;
  position: absolute;
  background-color: #ee4e34;
  color: black;
  z-index: 999;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  left: 1px;
}

.id {
  top: 8px;
}

.id2 {
  top: 40px;
}

.init:hover > .id,
.init:hover > .id2 {
  display: unset;
}

.deleteIcon {
  font-size: 22px;
  cursor: pointer;
}

.deleteIcon:hover {
  transform: scale(1.1);
}

.deleteIcon:active {
  transform: scale(1);
}

.extraData {
  color: #fcedda;
  margin-bottom: 0;
  margin-left: 5px;
}

.extraData:last-child {
  margin-left: 10px;
}

.button {
  font-size: 16px;
  border: none;
  color: #ee4e34;
  padding: 6px 9px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  background-color: #fcedda;
}

.button:first-child {
  margin-right: 10px;
}

.hr {
  display: none;
}

.addBtn,
.logout {
  font-size: 18px;
  width: 150px;
  height: 50px;
}

@media (max-width: 1375px) {
  .buttonWrapper {
    justify-content: center;
    margin-left: 0;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }

  .input {
    width: 50%;
  }

  .item {
    width: 90vw;
  }

  .item:first-child {
    margin-bottom: 35px;
  }

  .item:last-child {
    margin-top: 35px;
  }
  .hr {
    display: flex;
    width: 80vw;
    opacity: 0.3;
  }
}

@media screen and (max-width: 730px) {
  .itemWrapper {
    justify-content: center;
  }
  .input {
    width: 100%;
  }

  .container {
    padding-top: 0;
  }

  .itemWrapper h1 {
    display: none;
  }

  .addBtn,
  .logout {
    font-size: 16px;
    width: 150px;
    height: 50px;
  }
}
