.container {
  padding: 50px;
  display: flex;
}

.item {
  flex: 1;
}

.table {
  width: 100%;
  border-spacing: 10px;
  text-align: left;
}

.td {
  font-size: 16px;
}

.button,
.nextStageBtn {
  font-size: 16px;
  border: none;
  color: white;
  padding: 6px 9px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
}

.nextStageBtn {
  background-color: green;
}

.button:first-child {
  background-color: teal;
  margin-right: 10px;
}

.button:last-child {
  background-color: crimson;
}
