.outerContainer {
  padding: 90px 0;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addBtn,
.logout {
  padding: 10px;
  width: 150px;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.buttonWrapper {
  margin-top: 39px;
  margin-bottom: 0;
}

.addBtn {
  margin-right: 20px;
}

.viewIcon {
  color: #ee4e34;
}

.container {
  margin-top: 20px;
  padding: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.item {
  width: 100%;
  background-color: #ee4e34;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 15px;
  border: 2px solid rgba(0, 0, 0, 0.15);
  margin: 10px;
}
.itemFeatured {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.outerItem {
  display: flex;
  align-items: flex-start;
}

.item:first-child .title {
  margin-bottom: 10px;
}

.itemFeatured .itemWrapper {
  display: unset;
}
.item:first-child .label {
  margin-top: 10px;
}

.itemWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgContainer {
  position: relative;
  margin: 10px !important;
  border-radius: 7px;
  background-color: #ee4e34;
}

.deleteImageBtn {
  position: absolute;
  right: 2px;
  top: 2px;
  height: 35px;
  width: 35px;
  border-radius: 10px !important;
  background-color: #fcedda;
  color: #ee4e34;
}

.imgWrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  width: 100%;
  background-color: #fcedda;
  border-radius: 7px 7px 0 0;
}

.newImageWrapper {
  border-radius: 0 0 7px 7px;
  border-top: 2px solid rgba(0, 0, 0, 0.15);
}

.addImageBtn {
  font-size: 18px;
  width: 150px;
  height: 50px;
}

.file {
  width: 100%;
  max-width: 400px;
  min-width: 290px;
  background-color: transparent;
  padding-left: 0;
  border-radius: 0;
  margin-bottom: 5px;
  padding: 0px 15px;
}

.file::file-selector-button {
  cursor: pointer;
  border: none;
  font-size: 17px;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fcedda;
  background-color: #ee4e34;
  border: 2px solid rgba(0, 0, 0, 0.15);
}

.itemWrapper h1 {
  color: #fcedda;
  user-select: none;
  margin-bottom: 0;
}

.itemWrapper span {
  position: relative;
}

.imgWrapper {
  height: 100vh;
  max-height: 350px;
  overflow-y: scroll;
}

.input {
  width: 60%;
}

.input input {
  width: 100%;
  height: 35px;
  margin: 20px 0;
}

.newImageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fcedda;
  padding-bottom: 10px;
}
.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0.4;
}

.table {
  position: relative;
  padding: 10px;
  width: 100%;
  border-spacing: 12.5px;
  text-align: left;
  color: #fcedda;
  border: 2px solid #fcedda;
}

.table:last-child {
  margin-bottom: 10px;
}

.tableWrapper {
  overflow: scroll;
}

.thead {
  background-color: #fcedda;
  color: #ee4e34;
}

.tbody:hover {
  background-color: #fcedda;
}

.tbody:hover .button,
.tbody:hover .viewIcon {
  background-color: #ee4e34;
  color: #fcedda;
}

.trTitle th {
  user-select: none;
}
.trTitle th span {
  cursor: pointer;
  border-bottom: 1px solid #ee4e34;
}

.trTitle th span:hover {
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  font-weight: 800;
}

.td {
  font-size: 16px;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
}

.tdImg {
  align-items: center;
  display: flex;
}

.init {
  position: relative;
}

.id,
.id2 {
  display: none;
  position: absolute;
  padding: 2px 9px;
  border-radius: 15px;
  background-color: #ee4e34;
  color: black;
  z-index: 999;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.id {
  left: -9px;
  top: -2.5px;
}

.id2 {
  left: -9px;
  top: -2.5px;
}

.init:hover > .id,
.init:hover > .id2 {
  display: unset;
}

.deleteIcon {
  font-size: 22px;
  cursor: pointer;
}

.deleteIcon:hover {
  transform: scale(1.1);
}

.deleteIcon:active {
  transform: scale(1);
}

.extraData {
  color: #fcedda;
  margin-bottom: 0;
  margin-left: 5px;
}

.extraDataSingle {
  padding: 2.5px 5px;
  background-color: #fcedda;
  color: #ee4e34;
  border-radius: 50px;
  margin-left: 5px;
}

.extraData:last-child {
  margin-left: 20px;
}

.button {
  font-size: 16px;
  border: none;
  color: #ee4e34;
  padding: 6px 9px;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  background-color: #fcedda;
}

.button:first-child {
  margin-right: 10px;
}

.addBtn,
.logout {
  font-size: 18px;
  width: 150px;
  height: 50px;
}

.nextStageBtn {
  width: 120px;
}

.nextStageWrapper {
  display: flex;
  align-items: center;
}

.imgContainer img {
  width: 100px;
}

@media (max-width: 1600px) {
  .outerItem {
    flex-direction: column;
  }

  .buttonWrapper {
    justify-content: center;
    margin-left: 0;
  }

  .input {
    width: 50%;
  }

  .item {
    width: 90vw;
    max-width: 900px;
    margin: 20px 0;
  }

  .nextStageBtn {
    width: 120px;
  }

  .nextStageWrapper {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 730px) {
  .file {
    font-size: 15px;
  }

  .file::file-selector-button {
    font-size: 15px;
    padding: 3px 7px;
  }

  .outerContainer {
    height: unset;
    padding-bottom: 60px;
  }

  .itemWrapper {
    justify-content: center;
  }
  .input {
    width: 100%;
  }

  .input input {
    margin: 0;
    margin-bottom: 15px;
  }

  .icon {
    top: 36%;
  }
  .container {
    padding-top: 0;
  }

  .itemWrapper h1 {
    display: none;
  }

  .addBtn,
  .logout {
    font-size: 16px;
    width: 135px;
    height: 45px;
  }

  .tbody:hover {
    background-color: unset;
  }

  .tbody:hover .button {
    background-color: #fcedda;
    color: #ee4e34;
  }

  .tbody:hover .viewIcon {
    color: #ee4e34;
    background-color: #fcedda;
  }

  .tbody:hover .deleteIcon {
    color: #fcedda;
  }

  .tbody:hover .td {
    color: #fcedda;
  }

  .deleteIcon:hover {
    transform: scale(1);
  }

  .init > .id,
  .init > .id2 {
    display: flex;
  }

  .init > .initInner {
    display: none;
  }

  .id,
  .id2 {
    position: unset;
    background-color: none;
    color: #fcedda;
    box-shadow: none;
  }

  .nextStageBtn {
    width: 120px;
  }

  .nextStageWrapper {
    display: flex;
    align-items: center;
  }
}

@media screen and (max-width: 468px) {
  .outerContainer {
    padding-top: 65px;
  }

  .buttonWrapper {
    margin-top: 39px;
  }
}
