.container {
  position: fixed;
  left: 50%;
  top: 100px;
  width: 90vw;
  max-width: 500px;
  text-align: center;
  transform: translate(-50%);
  z-index: 999;
  color: #ee4e34;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  font-size: 20px;
}

@media screen and (max-width: 655px) {
  .container {
    font-size: 18px;
  }
}
