.container {
  height: 100vh;
  padding-top: 150px;
  padding-bottom: 90px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left {
  background-color: #ee4e34;
  padding: 0 10px;
  height: fit-content;
  max-height: 475px;
  min-height: 300px;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.15);
  overflow-y: scroll;
  margin-right: 20px;
}

.imgContainer {
  width: 100px;
  height: 100px;
  position: relative;
}

.table {
  color: #fcedda;
  width: 100%;
  text-align: left;
  border-spacing: 20px;
}

.name {
  font-weight: 500;
  font-size: 18px;
}

.total {
  font-weight: 500;
  font-size: 18px;
}

.wrapper {
  width: 450px;
  max-height: 300px;
  background-color: #ee4e34;
  padding: 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  border: 2px solid rgba(0, 0, 0, 0.15);
}

.wrapper h2 {
  color: #fcedda;
}

.totalTextTitle {
  margin-right: 10px;
}

.button {
  background-color: #fcedda;
  height: 40px;
  color: #ee4e34;
  font-weight: bold;
  cursor: pointer;
  margin-top: 20px;
}

.btn {
  width: 35px;
  height: 35px;
  border-radius: 10px;
  color: white;
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}

.quantity {
  display: flex;
  align-items: center;
  position: relative;
}

.arrowWrapper {
  position: absolute;
  left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-left: 7px;
  cursor: pointer;
}

.arrows {
  font-size: 25px;
}

.arrows:hover {
  transform: scale(1.1);
}

.deleteIcon {
  font-size: 26px;
  cursor: pointer;
}

.deleteIcon:hover {
  transform: scale(1.1);
}

.deleteIcon:active {
  transform: scale(1);
}

.extraPrice {
  font-size: 16px;
}

.extraPrice::before {
  content: ' ';
}

.trTitle {
  border: transparent;
}
@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
  }

  .left {
    margin-top: 50px;
    margin-right: 0;
    margin-bottom: 25px;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: unset;
  }

  .wrapper {
    margin-bottom: 25px;
  }
}

@media screen and (max-width: 730px) {
  .arrowWrapper {
    margin-left: -0px;
  }
  .tr td {
    padding: 2.5px;
  }

  .container {
    padding-top: 0;
  }

  .deleteIcon:hover {
    transform: scale(1);
  }

  .arrows:hover {
    transform: scale(1);
  }
}

@media screen and (max-width: 655px) {
  .arrowWrapper {
    position: relative;
    left: 0px;
  }

  .container {
    padding: 0;
  }

  .trTitle {
    display: none;
  }

  .tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 25px;
    border: transparent;
  }

  .imgContainer {
    margin-top: 20px;
  }

  .size::before {
    content: 'Size: ';
    font-weight: bold;
    margin-right: 6px;
  }

  .name::before {
    content: 'Pizza: ';
    font-weight: bold;
    margin-right: 6px;
  }

  .total::before {
    content: 'Total: ';
    font-weight: bold;
    margin-right: 6px;
  }

  .quantity::before {
    content: 'Quantity: ';
    font-weight: bold;
    margin-right: 6px;
  }

  .price::before {
    content: 'Price: ';
    font-weight: bold;
    margin-right: 6px;
  }

  .extras::before {
    content: 'Extras: ';
    font-weight: bold;
    margin-right: 6px;
  }

  .tr {
    text-align: center;
  }
}

.paymentMethods {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

.payButton {
  border-radius: 5px !important;
  padding: 3px;
  cursor: pointer;
  border: none;
  margin-bottom: 6px;
  background-color: #fcedda;
  color: #ee4e34;
  font-weight: bold;
}

@media screen and (max-width: 480px) {
  .left {
    width: 90vw;
  }
  .wrapper {
    width: 90vw;
  }
}
