.container {
  padding-top: 89px;
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.innerContainer {
  display: flex;
  align-items: center;
  background-color: #ee4e34;
  color: #fcedda;
  border-radius: 15px;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 25px;
}

.wrapper {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper:first-child {
  justify-content: space-between;
  align-items: flex-start;
}

.wrapper h1 {
  color: #fcedda;
}
.email {
  color: #fcedda;
  margin-top: 40px;
  margin-bottom: 0;
}
.phone {
  color: #fcedda;
  font-size: 16px;
  opacity: 0.6;
  margin: 0;
}

.address {
  color: #fcedda;
  margin-top: 40px;
  font-size: 17px;
  opacity: 0.7;
}

.textarea {
  font-family: inherit;
  height: 125px;
}

.input {
  height: 35px;
  margin-bottom: 10px;
}
.textarea,
.input {
  width: 100%;
}

.button {
  cursor: pointer;
  margin-top: 10px;
  padding: 5px 25px;
  align-self: flex-start;
  color: #ee4e34;
  background-color: #fcedda;
}

@media screen and (max-width: 1090px) {
  .container {
    padding-top: 100px;
    height: 100%;
    padding: 50px 0;
    display: flex;
  }

  .innerContainer {
    margin-top: 90px;
    flex-direction: column;
  }

  .wrapper {
    text-align: center;
  }

  .wrapper:first-child {
    align-items: center;
  }

  .wrapper:first-child h1 {
    font-size: 30px;
  }

  .email {
    margin-top: 10px;
    margin-bottom: 0;
  }

  .address {
    margin-top: 10px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 730px) {
  .wrapper h1,
  .email,
  .address {
    width: 80vw;
  }
  .container {
    padding-top: 0;
  }

  .innerContainer {
    width: 90%;
  }
  .textarea,
  .input {
    width: 80vw;
  }
  .button {
    align-self: center;
  }

  .wrapper {
    width: 0;
  }
}
