.container {
  background-color: #222;
  display: flex;
}

.item {
  flex: 1;
  position: relative;
  display: flex;
}

.item:last-child {
  flex: 2;
  padding: 50px;
  justify-content: space-between;
}

.card {
  flex: 1;
  padding: 0 15px;
}

.title {
  font-size: 18px;
  color: #b7903c;
}

.text {
  font-size: 15px;
  color: lightgray;
}

.motto {
  font-size: 25px;
  color: rgb(211, 211, 211);
}

@media screen and (max-width: 1024px) {
  .item:first-child {
    display: none;
  }

  .item {
    flex-direction: column;
  }

  .container {
    height: auto;
    text-align: center;
  }

  .motto {
    font-size: 25px;
  }

  .title {
    font-size: 23px;
  }

  .text {
    font-size: 17px;
  }
}

@media screen and (max-width: 768px) {
  .item:first-child {
    display: none;
  }
  .item {
    flex-direction: column;
  }

  .container {
    height: auto;
    text-align: center;
  }

  .motto {
    font-size: 24px;
  }

  .title {
    font-size: 22px;
  }

  .text {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .item:first-child {
    display: none;
  }
  .item {
    flex-direction: column;
  }

  .container {
    height: auto;
    text-align: center;
  }

  .motto {
    font-size: 23px;
  }

  .title {
    font-size: 21px;
  }

  .text {
    font-size: 15px;
  }
}
