.ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0ex;
}

.ul li {
  width: 70px;
  padding: 12px 20px;
}

.divider {
  height: 65px;
}

.listItem {
  position: relative;
}
.innerItem {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
  width: 90%;
  height: 90%;
  border-radius: 5px;
}

.innerItemUpper {
  position: relative;
  z-index: 1;
}
.counter {
  position: absolute;
  height: 18px;
  width: 18px;
  font-size: 12px;
  border-radius: 50px;
  right: -10px;
  top: -5px;
}
