.desktopContainer {
  height: 90px;
  padding: 0 25px;
  background-color: rgba(238, 77, 52, 0.93);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: -webkit-fixed;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 999;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.navStack {
  display: none;
}

.mobileContainer {
  display: none;
}

.item {
  display: flex;
  align-items: center;
}

.callButton {
  background-color: #fcedda;
  border-radius: 50px;
  padding: 10px;
  width: 40px;
  height: 40px;
  display: flex;
}

.texts {
  margin-left: 5px;
  color: #fcedda;
}

.texts:first-child {
  font-size: 13px;
  font-weight: bold;
}

.texts:last-child {
  font-size: 17px;
  font-weight: bold;
}

.list {
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  color: #fcedda;
}

.listItem {
  font-size: 19px;
  cursor: pointer;
  margin: 15px;
  font-weight: 500;
}

.cart {
  cursor: pointer;
  position: relative;
}

.default {
  cursor: pointer;
}

.default .counter {
  display: none;
}

.counter {
  font-size: 15px;
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fcedda;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #ee4e34;
}

@media screen and (max-width: 730px) {
  .customIcon {
    color: #fcedda;
    width: 50px;
    height: 50px;
    background-color: #ee4e34;
    border-radius: 5px;
  }

  .navStack {
    position: fixed;
    right: 160px;
    z-index: 99999;
    display: flex;
  }

  .desktopContainer {
    display: none;
  }

  .mobileContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100vh;
    width: 140px;
    padding-right: 15px;
    background-color: #ee4d34e2;
    color: #fcedda;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    z-index: 999;
    text-transform: uppercase;
  }

  .listItem {
    font-size: 16px;
  }

  .activeNav {
    position: absolute;
    right: 139px;
    transition: 0.4s all ease-in-out;
  }

  .inactiveNav {
    position: absolute;
    right: -10px;
    transition: 0.4s all ease-in-out;
  }

  .inactiveStack {
    right: 15px;
    top: 12px;
    transition: 0.4s all ease-in-out;
  }
  .activeStack {
    right: 154px;
    top: 12px;
    transition: 0.4s all ease-in-out;
  }

  .counter {
    font-size: 15px;
    position: relative;
    top: -23px;
    right: 25px;
  }

  .item .list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 5px;
  }

  .listItem {
    margin: 6px 0;
  }
}
