.desktopContainer {
  height: 75px;
  padding: 0 30px;
  background-color: rgba(238, 77, 52, 0.93);
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: -webkit-fixed;
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 999;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(10px);
}

.tabletNav,
.mobileNav {
  display: none;
}

.item {
  display: flex;
  align-items: center;
}

.callButton {
  background-color: #fcedda;
  border-radius: 50px;
  padding: 10px;
  width: 40px;
  height: 40px;
  display: flex;
}

.texts {
  margin-left: 5px;
  color: #fcedda;
}

.texts:first-child {
  font-size: 13px;
  font-weight: bold;
}

.texts:last-child {
  font-size: 17px;
  font-weight: bold;
}

.list {
  padding: 0;
  display: flex;
  align-items: center;
  list-style: none;
  color: #fcedda;
  margin-bottom: 0;
}

.listItem {
  font-size: 19px;
  cursor: pointer;
  margin: 15px;
  font-weight: 500;
}

.cart {
  cursor: pointer;
  position: relative;
}

.default {
  cursor: pointer;
}

.default .counter {
  display: none;
}

.counter {
  font-size: 15px;
  position: absolute;
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fcedda;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #ee4e34;
}

.hr {
  width: 115%;
  margin: 3px 0;
}
@media screen and (max-width: 1024px) {
  .tabletNav {
    display: unset;
  }

  .customIcon {
    color: #fcedda;
    width: 55px;
    height: 55px;
    background-color: #ee4e34;
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.15);
  }

  .desktopContainer {
    display: none;
  }

  .background {
    height: 100vh;
    position: fixed;
    right: 0px;
    z-index: 9999;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .false {
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.65, 0, 0.33, 0.99);
  }

  .true {
    opacity: 1;
    transition: all 0.5s cubic-bezier(0.65, 0, 0.33, 0.99);
  }

  .tabletContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100vh;
    width: 250px;
    padding-right: 41.5px;
    background-color: #ee4d34e7;
    color: #fcedda;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    text-transform: uppercase;
    border-left: 2px solid rgba(0, 0, 0, 0.15);
    position: fixed;
    z-index: 9999999;
  }

  .listItem {
    font-size: 23px;
    letter-spacing: 0.9px;
    font-weight: bold;
  }

  .activeNav {
    position: absolute;
    right: 225px;
    opacity: 1;
    transition: all 0.5s cubic-bezier(0.65, 0, 0.33, 0.99);
  }

  .inactiveNav {
    position: absolute;
    right: -10px;
    opacity: 1;
    transition: all 0.5s cubic-bezier(0.65, 0, 0.33, 0.99);
  }

  .inactiveNav .background {
    pointer-events: none;
  }

  .closeNav {
    position: relative;
    right: -5.5px;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .navStack {
    position: fixed;
    right: 160px;
    z-index: 99999;
    display: flex;
  }

  .inactiveStack {
    right: 20px;
    top: 20px;
    transition: all 0.5s cubic-bezier(0.65, 0, 0.33, 0.99);
  }

  .activeStack {
    right: 100px;
    top: 20px;
    transition: all 0.5s cubic-bezier(0.65, 0, 0.33, 0.99);
  }

  .counter {
    font-size: 15px;
    position: relative;
    top: -27.5px;
    right: 25px;
  }

  .item .list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 5px;
  }

  .listItem {
    margin: 8px 0;
  }
}

@media screen and (max-width: 468px) {
  .tabletNav {
    display: none;
  }

  .mobileNav {
    display: unset;
    position: fixed;
    z-index: 999999;
    top: 16px;
    right: 20px;
  }
}
