.container {
  height: 100vh;
  padding-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.table {
  width: 100%;
  text-align: left;
  margin-bottom: 50px;
}

.row:last-child {
  display: flex;
  justify-content: space-between;
}

.done {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inProgress {
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: inProgress 1s ease infinite alternate;
}
@keyframes inProgress {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.completed {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.3;
}

.completed .checkedIcon,
.inProgress .checkedIcon {
  display: none;
}

.left {
  flex-direction: column;
  justify-content: center;
  display: flex;
  width: 600px;
  margin-right: 60px;
}
.right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trTitle .th {
  padding: 0px 60px;
}

.wrapper h2 {
  color: #fcedda;
}

.wrapper {
  width: 450px;
  max-height: 300px;
  background-color: #ee4e34;
  padding: 40px 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  border: 2px solid rgba(0, 0, 0, 0.15);
}

.totalTextTitle {
  margin-right: 10px;
}

.button {
  background-color: #fcedda;
  padding: 5px 0;
  color: #ee4e34;
  font-weight: bold;
  margin-top: 10px;
  cursor: not-allowed;
}

@media screen and (max-width: 1120px) {
  .container {
    height: unset;
    padding-top: 90px;
    padding-bottom: 90px;

    flex-direction: column;
    align-items: center;
  }

  .left {
    margin-right: 0;
  }

  .row:last-child {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    height: 100%;
    margin: 0;
  }
  .table {
    width: 90vw;
    margin-bottom: 40px;
  }

  .trTitle {
    font-size: 18px;
  }

  .tr td {
    font-size: 15px;
  }

  .row:last-child {
    width: 480px;
    margin-bottom: 30px;
  }

  .left {
    width: 95vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 90px;
  }

  .right {
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 730px) {
  .container {
    padding-top: 0;
  }
}

@media screen and (max-width: 518px) {
  .tr {
    text-align: center;
  }

  .container {
    padding: 40px 20px;
    margin: 0;
  }
  .left {
    width: 10px;
  }

  .wrapper {
    width: 90vw;
  }

  .row:last-child {
    width: 90vw;
    flex-wrap: wrap;
    justify-content: center;
  }

  .table {
    width: 340px;
    display: flex;
    flex-direction: column;
  }

  .done,
  .inProgress,
  .completed {
    margin: 15px 25px;
  }

  .trTitle {
    display: none;
  }

  .tr {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .id,
  .name,
  .address,
  .total {
    font-size: 20px;
  }

  .id::before {
    color: #ee4e34;
    content: 'Order id: ';
    font-weight: bold;
  }

  .name::before {
    color: #ee4e34;
    content: 'Contact: ';
    font-weight: bold;
  }

  .total::before {
    color: #ee4e34;
    content: 'Total: ';
    font-weight: bold;
  }
}

@media screen and (max-width: 468px) {
  .left {
    margin-top: 25px;
  }

  .right {
    margin-bottom: 3px;
  }
}
