.container {
  padding-top: 84px;
  height: calc(100vh - 100px);
  display: flex;
}

.left {
  flex: 1;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.right {
  flex: 1;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 100px;
}

.imgContainer {
  width: 75%;
  height: 75%;
  position: relative;
}

.imgContainer img {
  object-fit: contain;
}

.price {
  color: #ee4e34;
  font-size: 40px;
  font-weight: 400;
}

.sizes {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
.size {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: relative;
}

.size:nth-child(2) {
  width: 40px;
  height: 40px;
}
.size:last-child {
  width: 50px;
  height: 50px;
}

.sizeLabel {
  position: absolute;
  top: -5px;
  right: -20px;
  background-color: #ee4e34;
  color: white;
  font-size: 12px;
  padding: 0 5px;
  border-radius: 10px;
}

.ingredients {
  display: flex;
  margin-bottom: 15px;
}

.option {
  display: flex;
  align-items: center;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
}

.checkbox {
  width: 25px;
  height: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.checkboxLabel input:checked + span::before {
  content: '\2713';
  position: absolute;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  left: 0;
  bottom: 0;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  background-color: #ee4e34;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  position: relative;
  user-select: none;
  margin-right: 10px;
  cursor: pointer;
  font-size: 18px;
}

.quantity {
  width: 50px;
  height: 35px;
}

.button {
  height: 35px;
  padding: 0 20px;
  margin-left: 10px;
  background-color: #ee4e34;
  color: white;
  border: none;
  font-weight: 500px;
  cursor: pointer;
}

.desc {
  width: 100%;
  text-align: left;
}

.choose {
  margin: 20px 0;
  font-size: 18px;
}
.additional {
  margin-bottom: 5px;
}

.pizzaSizeSm {
  font-size: 35px;
}

.pizzaSizeMd {
  font-size: 45px;
}

.pizzaSizeLg {
  font-size: 55px;
}

@media screen and (max-width: 1024px) {
  .ingredients {
    flex-direction: column;
  }

  .container {
    height: 100vh;
  }
}

@media screen and (max-width: 768px) {
  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 20px;
  }

  .left {
    justify-content: center;
  }
  .title {
    text-align: center;
  }

  .desc {
    text-align: center;
    width: 80%;
    font-size: 18px;
    margin-top: 0px;
    margin-bottom: -5px;
  }

  .container {
    height: auto;
    text-align: center;
    flex-direction: column;
  }
  .imgContainer {
    margin-top: 50px;
    width: 60vw;
    height: 60vw;
  }

  .title {
    margin: 5px;
  }

  .ingredients {
    margin-bottom: 20px;
    flex-direction: column;
  }
  .option {
    margin: 2px;
    font-size: 20px;
  }

  .checkbox {
    margin-right: 10px;
    width: 25px;
    height: 25px;
  }

  .quantity,
  .button {
    height: 40px;
    padding: 0 20px;
  }
}

@media screen and (max-width: 730px) {
  .container {
    padding-top: 0;
  }
}

@media screen and (max-width: 480px) {
  .title {
    text-align: center;
  }

  .desc {
    text-align: center;
    width: 80%;
    font-size: 18px;
    margin-top: 10px;
  }

  .container {
    height: auto;
    text-align: center;
    flex-direction: column;
  }
  .imgContainer {
    width: 70vw;
    height: 70vw;
  }

  .title {
    margin: 5px;
  }

  .ingredients {
    margin-bottom: 20px;
    flex-direction: column;
  }
  .option {
    margin: 2px;
    font-size: 20px;
  }

  .checkbox {
    margin-right: 10px;
    width: 25px;
    height: 25px;
  }

  .quantity,
  .button {
    height: 40px;
    padding: 0 20px;
  }
}
