.container {
  padding-top: 75px;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ee4e34;
  border-radius: 15px;
  color: #fcedda;
  box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.2);
  padding: 30px 125px;
}

.title {
  color: #fcedda;
  margin-top: 0;
}

.input {
  padding: 7px 15px;
  width: 400px;
  position: relative;
}
.icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.4);
}

.button {
  margin-top: 15px;
  width: 35%;
  border: none;
  color: #ee4e34;
  background-color: #fcedda;
  font-weight: 500;
  cursor: pointer;
  padding: 8px 0;
}

@media screen and (max-width: 730px) {
  .container {
    padding-top: 0;
  }

  .wrapper {
    padding: 25px 15px;
    width: 90vw;
  }
  .title {
    font-size: 30px;
    text-align: center;
  }

  .input {
    width: 100%;
    position: relative;
  }

  .icon {
    right: 25px;
  }
}
